body 
{
    width:960px;
    font-family: Arial, Helvetica, sans-serif;
    font: 1em;
    line-height: 2em;
    margin :0 0 0 20px;
}

ul:first-of-type
{
    list-style-type: none;
    padding-left: 0px;
}

a,h2
{
    color: #CC1C0D;
}

h2
{
    background: #DFE3E6;
    border : 1px solid #929CA4;
    padding: 8px;
    padding-left: 10px;
    border-radius: 5px;
}

p > img
{
    float: left;
    padding: 8px 5px 0 0;
}

section > img{
    border-radius: 40px;
    border : 2px solid red;
    margin-right : 20px;
    float: left;
    margin-top: 10px;
}

section > p{
    margin-top: 0;
}

.pricing > div
{
    float: left;
    border: 1px solid #929CA4;
    border-radius: 5px;
    margin-right: 5px;
    width: 24%;
    text-align: center;
}

.pricing > div > img
{
    padding-top: 20px;
}

.pricing > div:nth-of-type(1) > h3
{
    border-top: 10px solid #CC1C0D;
    padding-top: 10px;
}
.pricing > div:nth-of-type(2) > h3
{
    border-top: 10px solid #37A4A4;
    padding-top: 10px;
}
.pricing > div:nth-of-type(3) > h3
{
    border-top: 10px solid #685288;
    padding-top: 10px;
}
.pricing > div:nth-of-type(4) > h3
{
    border-top: 10px solid #000000;
    padding-top: 10px;
}


.pricing > div:last-child
{
    padding-top: 35px;
    margin-right: 0px;
}

#vprospect ,#vconvert, #vretain
{
    font-weight: bold;
}

ul > ul 
{
    margin-left: 40px;
}